<!DOCTYPE html>
<html>
<head>
<!-- JQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<link rel = "stylesheet" href="/public/style.css">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
<title>Search Results</title>
</head>
<body>
    <nav>
        <div class="menu-icon">
        </div>
        <div class="logo">
            <img id ="logo" src = "/public/staticimages/logo_transparent.png" >
        </div>
        <div class="nav-items">
            <form action="/homePageLoggedIn/<%=cc%>" method="get">
               <li><button type="submit">Home</button></li>
            </form>
            </div>
            <form action="/searchpost" method="post" id ="searchform">
                <input type="search" class="search-data" placeholder="Search" name="search" required>
                <button type="submit">Search</button>
             </form>
             <form action="/searchuser" method="post" id ="searchform">
                <input type="search" class="search-data" placeholder="Search User" name="search" required>
                <button type="submit">Search</button>
             </form>
            <div class="nav-items">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <form action="/aboutpage/<%=cc%>" method="get">
                <li><button type="submit">About Us</button></li>
                </form>
                <form action="/myprofile/<%=cc%>" method="get">
                <li><button type="submit">My Profile</button></li>
                </form>
                <form action="/homepage1" method="post">
                <li><button type="submit">Sign Out</button></li>
                </form>
             </div>
    </nav>
        <span class ="posts">
            <center>
                <h1>
                    SEARCH RESULTS FOR USERS
                </h1>
            
            <br>
            <% for (var i in users){ %>
                
                <a href="/user/<%= users[i].username %>">
            <%= users[i].firstname %>
            <%= users[i].lastname %> <br>
                </a>
            <% } %>
            <br>
            </center>
        </span>
</body>
</html>
